@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>
        <span class="smaller-60">欢迎使用</span><br />
        <span class="orange bolder"><i class="icon-food bigger-120"></i>MyD3</span> <span class="smaller-60">Schema</span>
    </h1>
    <p class="lead">MyD3Schema </p>
    <p><a href="#" class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>开始使用</h2>
        <p>
            此处用于放置关于如何快速使用技术框架
        </p>
    </div>
    <div class="col-md-4">
        <h2>获取技术支持</h2>
        <p>
            请直接与苏州星熙数据科技有限公司联络。
        </p>
    </div>
    <div class="col-md-4">
        <h2>联系开发商</h2>
        <p>电话: 0512-</p>
    </div>
</div>

@section scripts{
}