<footer id="footer">
    Copyright &copy; 2016 Dipper Star

    <ul class="f-menu">
        <li><a href="">首页</a></li>
        <li><a href="">预览</a></li>
        <li><a href="">报表</a></li>
        <li><a href="">支持</a></li>
        <li><a href="">联系我们</a></li>
    </ul>
</footer>