<div class="profile-menu">
    <a href="">
        <div class="profile-pic">
            <img src="" alt="">
        </div>

        <div class="profile-info">
            欢迎，<span class="login-user-name"></span>
            <i class="zmdi zmdi-arrow-drop-down"></i>
        </div>
    </a>

    <ul class="main-menu">
        <li>
            <a href="profile-about.html"><i class="zmdi zmdi-account"></i>查看个人资料</a>
        </li>
        <li>
            <a href='@Url.Action("logout", "index")'><i class="zmdi zmdi-time-restore"></i>注销</a>
        </li>
    </ul>
</div>